.setting-bg{
    width: 83%;
    height: 100%;
    padding: 5% 10%;
}
.setting-bg .show-contact{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.438);
    border: none;
    border-radius: 5rem;
    padding: 5%;
}
.setting-bg .show-contact .title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    height: 10%;
}
.setting-bg .show-contact .box-show{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.setting-bg .show-contact .box-show .input{
    border: 1px solid rgba(0, 0, 0, 0.226);
    height: 60%;
    width: 70%;
    border-radius: 10px;
    outline: none;
    color: rgba(0, 0, 0, 0.753);
    padding-left: 3%;
}
.setting-bg .show-contact .box-show .file{
    height: 60%;
    width: 70%;
    border-radius: 10px;
    outline: none;
    color: rgba(0, 0, 0, 0.753);
    padding-left: 3%;
}
.box-form{
    width: 100%;
    height: 100%;
    padding: 1%;
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(6,10%);
}
.setting-bg .show-contact .box-show-btn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-row: 6/7;
}
.btn{
    border: none;
    width: 50%;
    height: 70%;
    transition: 0.25s;
}
.btn:active:active{
    transform: scale(0.9);
    transition: 0.25s;
}