.all-car {
  width: 82%;
  height: 100%;
  padding-top: 9%;
}
.box-count {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5%;
}
.h1 {
  height: 100%;
  width: 20%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #1b98e0;
  font-weight: 300;
  box-shadow: 0 0 10px #232c3367;
}
.box-table {
  width: 100%;
  height: 85%;
  padding: 1%;
  overflow-y: scroll;
}
.btn {
  width: 45%;
  height: 100%;
  border-radius: 10px;
  color: white;
  transition: 0.25s;
}
.btn:active {
  transition: 0.25s;
  transform: scale(0.9);
}
.box-tr {
  transition: 0.25s;
}
.box-tr:hover {
  background: #c4c3c34d;
  transition: 0.25s;
}
@media screen and (max-width: 1366px) {
  .h1 {
    height: 100%;
    width: 20%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #1b98e0;
    font-weight: 300;
    box-shadow: 0 0 10px #232c3367;
  }
  .title {
    font-size: 12px;
  }
  .btn {
    width: 45%;
    height: 2rem;
    border-radius: 10px;
    color: white;
    font-size: 10px;
  }
}
