.main-addcar {
  height: 100%;
  width: 82%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-addcar .form-addcar {
  width: 80%;
  height: 80%;
  padding: 2%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 10%);
}
.main-addcar .form-addcar .input-form {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.main-addcar .form-addcar .input-form .title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 30%;
  color: black;
}
.main-addcar .form-addcar .input-form .input {
  height: 60%;
  width: 70%;
  color: black;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.253);
  padding: 0 2%;
  outline: none;
  display: flex;
}
.main-addcar .form-addcar .input-form .file {
  padding-top: 1.25%;
  background: none;
}
@media screen and (max-width: 1366px) {
  .main-addcar .form-addcar .input-form .file {
    padding-top: 1.25%;
    background: none;
    font-size: 14px;
    height: 80%;
  }
  .main-addcar .form-addcar .input-form .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 30%;
    color: black;
    font-size: 14px;
  }
  .main-addcar .form-addcar .input-form .input {
    font-size: 14px;
  }
}
