@media screen and (max-width: 1366px) {
  .login .logo-image {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login .logo-image .Image {
    transition: 0.25s;
    width: 80px;
    height: 80px;
  }
  .login .logo-image .Image:hover {
    transition: 0.25s;
    width: 100px;
    height: 100px;
  }
  .login .form .input-email {
    height: 2.5rem;
  }
  .box-btn {
    width: 100%;
    height: 60%;
    padding: 2rem;
  }
  .input-submit {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
  .input-submit button {
    cursor: pointer;
  }
  .input-submit .btn-1 {
    width: 20%;
    height: 70%;
    color: #000;
    border-radius: 10rem;
    border: none;
    font-size: 16px;
    font-weight: 300;
    color: white;
    background: #000;
    margin-top: 1rem;
    background: #f6ae2d;
    transition: 0.25s;
  }

  .input-submit .btn-2 {
    width: 20%;
    height: 70%;
    color: #000;
    border-radius: 10rem;
    border: none;
    font-size: 16px;
    font-weight: 300;
    color: white;
    background: #0cca4a;
    margin-top: 4px;
    transition: 0.25s;
  }

  .signin {
    border-bottom: 1px solid rgba(255, 255, 255, 0.39);
  }
  .register .register-image .Image {
    width: 80px;
    height: 80px;
  }
  .register .register-image .Image:hover {
    width: 100px;
    height: 100px;
  }
  .input-register {
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
  }
  .input-1 {
    height: 6rem;
    width: 20rem;
    padding: 1rem;
  }
  .btn-register .btn-1 button{
    margin-top: 1.5rem;
  }
  .btn-register .btn-2 button{
    margin-bottom: rem;
  }
}
