@media screen and (max-width:1366px) {
    .login .logo-image{
        width: 100%;
        height: 25%;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login .logo-image .Image{
        transition: 0.25s;
        width: 80px;
        height: 80px;
    }
    .login .logo-image .Image:hover{
        transition: 0.25s;
        width: 100px;
        height: 100px;
    }
}
