.main-add-user {
  width: 82%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-add-user .form-add-car {
  padding: 2%;
  width: 80%;
  height: 60%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.274);
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 15%);
}
.main-add-user .form-add-car .input-box {
  display: flex;
  justify-content: start;
  align-items: center;
}
.main-add-user .form-add-car .input-box .title {
  width: 30%;
  height: 50%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-add-user .form-add-car .input-box .input {
  border: 1px solid rgba(0, 0, 0, 0.171);
  width: 70%;
  height: 60%;
  border-radius: 8px;
  padding: 0 2%;
  color: black;
  outline: none;
}
.main-add-user .form-add-car .input-box .file {
  border: 1px solid rgba(0, 0, 0, 0.171);
  width: 70%;
  height: 60%;
  border-radius: 8px;
  padding: 1.25% 2%;
  outline: none;
  color: black;
}

.main-add-user .form-add-car .input-btn {
  border: none;
  border-radius: 20px;
  grid-row: 6/7;
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1366px) {
  .main-add-user .form-add-car .input-box .file {
    font-size: 10px;
  }
  .main-add-user .form-add-car .input-box .input {
    font-size: 10px;
  }
  .main-add-user .form-add-car .input-box .title{
    font-size: 14px;
  }
}
