@media screen and (max-width: 1366px) {
  .List .list-contact .list-header .list-count .btn {
    font-size: 15px;
    transition: 0.25s;
    border-radius: 5px;
  }
  .List .list-contact .list-header .list-count .btn:active {
    transform: scale(0.9);
    transition: 0.25s;
  }

  .List .list-contact .list-table .table .action .button{
    display: none;

  }
  .List .list-contact .list-table .table .action .detail {
    width: 5rem;
    height: 2rem;
  }
  .List .list-contact .list-table .table .action .detail .Image {
    width: 15px;
    height: 15px;
  }
}
