.List {
  width: 83%;
  height: 100%;
  color: black;
  padding: 2%;
}
.List .list-contact {
  border: none;
  width: 100%;
  height: 100%;
  padding: 2%;
}
.List .list-contact .list-header{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.List .list-contact .list-header .list-count{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}
.List .list-contact .list-header .list-count .btn{
    cursor: pointer;
    color: #8e7dbe;
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 300;
    transition: 0.25s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.377);
}
.List .list-contact .list-header .list-count .btn:active{
    transform: scale(0.9);
    transition: 0.25s;
}

.List .list-contact .list-table{
    width: 100%;
    height: 85%;
    margin-top: 2.5%;
    overflow-y: scroll;
}
.List .list-contact .list-table .table{
    width: 100%;
    height: 100%;
    margin-top: 2.5%;
}
.List .list-contact .list-table .table .action{
    display: flex;
    justify-content: space-around;
}
.List .list-contact .list-table .table .action button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    height: 2.5rem;
    background: #DB504A;
    color: aliceblue;
    border-radius: 5px;
}
.List .list-contact .list-table .table .action .detail{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 2.5rem;
    background:#DB504A;
    width: 100%;
    color: aliceblue;
    border-radius: 5px;
}
.List .list-contact .list-table .table .action button:active{
    transform: scale(0.9);
}