.sidebar {
  width: 18%;
  height: 100%;
  background: #232c33;
}
/* Setting */
.sidebar .setting {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 5%;
}
.sidebar .setting .Image {
  transition: 0.25s;
}
.sidebar .setting .Image:active {
  transform: scale(0.8);
  transition: 0.25s;
}
@media screen and (max-width: 1366px) {
  .sidebar .setting .Image {
    width: 18px;
    height: 18px;
  }
}

/* Profile */
.sidebar .profile {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ffffff52;
}
.sidebar .profile .box-Image {
  width: 40%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar .profile .box-Image .image {
  border-radius: 20rem;
}
.sidebar .profile .box-contact {
  width: 60%;
  height: 70%;
}
.sidebar .profile .box-contact .name {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 20px;
  font-weight: 300;
}
.sidebar .profile .box-contact .status {
  width: 100%;
  height: 40%;
}
@media screen and (max-width: 1366px) {
  .sidebar .profile .box-Image .image {
    border-radius: 20rem;
    width: 50px;
    height: 50px;
  }
  .sidebar .profile .box-contact .name {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
  }
  .sidebar .profile .box-contact .status {
    width: 100%;
    font-size: 12px;
    height: 40%;
  }
}
.tag-bar {
  padding-left: 5%;
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: start;
  align-items: center;
  color: rgba(255, 255, 255, 0.521);
  font-size: 13px;
}
@media screen and (max-width: 1366px) {
  .tag-bar {
    font-size: 9px;
  }
}
.box-menu-1 {
  width: 100%;
  height: 15%;
  padding: 0 5%;
  border-bottom: 1px solid #ffffff52;
}
.menu-item {
  border-radius: 10px;
  width: 100%;
  height: 35%;
  margin: 2%;
  display: flex;
  justify-content: start;
  align-items: center;
  transition: 0.25s;
}
.menu-item .Image {
  margin-right: 5%;
  margin-left: 5%;
}
.menu-item:active {
  transition: 0.25s;
  transform: scale(0.9);
}
.menu-item:hover {
  transition: 0.25s;
  background: rgba(255, 255, 255, 0.288);
}
.box-menu-2 {
    width: 100%;
    height: 15%;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  @media screen and (max-width:1366px) {
    .box-menu-2 {
        width: 100%;
        height: 15%;
        padding: 0 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
      }
      .menu-item{
        font-size: 12px;
      }
      .menu-item .Image{
        width: 18px;
      }
  }